@media (max-width:740px) {
    #nav li {
        display: block;
    }
    #slider {
        
    }
    .header-action{
        display: none;

    }
    #header{
        overflow: hidden;
    }
    #main{
        padding-left: 5px;
        padding-right: 5px;
    }
}