@media (max-width:740px) {
    #nav li {
        display: block;
    }
    #slider {
        
    }
    .header-action{
        display: none;

    }
    #header{
        overflow: hidden;
    }
    #main{
        padding-left: 8px;
        padding-right: 8px;
    }
    #menu-mobile{
        display: block;
    }
    .contact,.header,.container,.footerr,.contents{
        display: flex;
        flex-direction: column;
    }
}